@import '../../App.module.css';

.button {
  composes: btn;

  &[disabled] {
    opacity: 0.2;
    cursor: auto;
  }

  &:hover {
    background-color: var(--color-Bg);
  }
}

.pagination {
  cursor: auto;
  padding: 20px;
}
